<div class="card-columns m-5 animated fadeIn">
    <div class="card" *ngFor="let item of items">
        <img
            (click)="seeArtist(item)"
            [src]="item.images | noimage"
            class="card-img-top"
            [alt]="item.name"
        />
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <span
                (click)="seeArtist(artist)"
                *ngFor="let artist of item.artists"
                class="badge badge-pill badge-primary pointer"
                >{{ artist.name }}
            </span>
        </div>
    </div>
</div>
